[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "protobuf"]
	path = protobuf
	url =  https://github.com/protocolbuffers/protobuf.git
	tag = v3.29.3
